body {
	background-color: #ddd;
	font-family: sans-serif;
}

#image-prompt-input {
	width: 100%;
}

#image-prompt-button {
	margin: 5px;
}

.full-width {
	width: 100%;
}

.result-image {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#image-div {
	display: grid;

	grid-template-columns: repeat(3, 32%);
	grid-template-rows: repeat(3, 32%);

	gap: 5px 5px;
}

/* zip zap zoop */
.hidden {
	display: none !important;
}

.half-container {
	display: inline-block;

	width: 48%;
	height: 100%;
}

#throbber-img {
	width: 500px;
}
